[Unit]
Description=YARN Nodemanager Service
Documentation=https://github.com/gitinsky/ansible-role-yarn-nodemanager

[Service]
LimitNOFILE=65535
Environment=LC_ALL=en_US.UTF-8
Environment=LANG=en_US.UTF-8
Environment=HADOOP_CLASSPATH=/opt/hadoop/lib/hadoop-lzo.jar
Type=simple
User={{ yarn_user }}
Group={{ yarn_user }}
ExecStart={{ hadoop_distr_prefix }}/bin/yarn nodemanager
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
